<div mat-dialog-title>
  <div class="m-0 d-flex justify-content-between align-items-center dialog-title">
    <p class="mb-0 mt-1 ps-2"> Update Catalogue </p>
    <div class="text-end">
      <button
        mat-icon-button
        (click)="handleCancel()"
      >
        <i class="las la-times"></i>
      </button>
    </div>
  </div>
</div>

<div mat-dialog-content>
  <form nz-form [nzLayout]="'vertical'" [formGroup]="updateCatalogForm">
    <nz-form-item>
      <nz-form-label class="required">
        Catalogue Type
      </nz-form-label>

      <nz-form-control nzHasFeedback>
        <input nz-input formControlName="catalogueType" required [readOnly]="true" />
      </nz-form-control>
    </nz-form-item>

    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label class="required">Bank Id</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Bank Id is required">
            <input nz-input formControlName="bankId" required maxlength="15"  />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label class="required"  nzTooltipTitle="Maximum length 5 digits" >CRIB Id</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="CRIB Id is required">
            <input nz-input formControlName="cribId" required maxlength="5"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <nz-form-item>
      <nz-form-label class="required"  nzTooltipTitle="Maximum length 50 characters" >Description</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Description is required" >
            <textarea nz-input formControlName="description" required
                      maxlength="50"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="Status" class="required">Status</nz-form-label>
      <nz-form-control nzErrorTip="Please select the status!">
        <nz-select
          id="Status"
          formControlName="status"
        >
          <nz-option nzValue="1" nzLabel="Active"></nz-option>
          <nz-option nzValue="2" nzLabel="Inactive"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div class="d-flex">
      <button
        class="w-100 me-2"
        type="submit"
        nz-button nzType="primary"
        (click)="openConfirmation()"
        [disabled]="!updateCatalogForm.valid || !updateCatalogForm.dirty">
        Update
      </button>
      <button
        class="w-100 ms-2"
        nz-button nzType="default" (click)="handleCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>




