<div mat-dialog-title>
  <div class="m-0 d-flex justify-content-between align-items-center dialog-title">
    <p class="mb-0 mt-1 ps-2" style="font-family: sans-serif; font-weight: lighter">Update Excluding Record</p>
    <div class="text-end">
      <button
        mat-icon-button
        (click)="handleCancel()"
      >
        <i class="las la-times"></i>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content class="mb-0 pb-0">

  <form nz-form [nzLayout]="'vertical'" [formGroup]="editExcludingRecord">
    <div>
      <nz-form-item>
        <nz-form-label class="required">
          Excluding Type
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="excludingCustomerType" required [readOnly]="true" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="required">
          Excluding Value
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="excludingValue" required nzerrortip="Excluding value is required"  #valueInput />
        </nz-form-control>
        <div *ngIf="isValueInvalid" style="color: red" class="m-0, p-0">
          <span *ngIf="editExcludingRecord.get('excludingValue')?.hasError('required')" class="m-0, p-0">Excluding Value is required.</span>
          <span *ngIf="editExcludingRecord.get('excludingValue')?.hasError('maxLengthExceeded')" class="m-0, p-0">Maximum length exceeded.</span>
          <span *ngIf="editExcludingRecord.get('excludingValue')?.hasError('noSpacesAllowed')" class="m-0, p-0">Spaces are not allowed.</span>
        </div>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="required">
          Status
        </nz-form-label>
        <nz-select nzPlaceHolder="Select the Status" formControlName="status" nzSize="default">
          <nz-option nzLabel="Active" nzValue="1"></nz-option>
          <nz-option nzLabel="Inactive" nzValue="2"></nz-option>
        </nz-select>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="required">
          Authorization Status
        </nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="authorizedStatus" required [readOnly]="true" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label class="required">Remark</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Remark is required">
            <textarea nz-input formControlName="remark" required
                      maxlength="200"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</div>
<mat-dialog-actions align="center">
  <div class="d-flex">
    <button
      class="me-1"
      style="
      width: 220px;
      border-radius: 5px;
      "
      type="submit"
      nz-button nzType="primary"
      [disabled]="!editExcludingRecord.valid || !editExcludingRecord.dirty"
      (click)="openConfirmation()"
    >
      Update
    </button>
    <button
      class="ms-2"
      style="
      width: 220px;
      border-radius: 5px;
      "
      nz-button nzType="default" (click)="handleCancel()">
      Cancel
    </button>
  </div>
</mat-dialog-actions>




