<nav class="fixed-top mt-1"
>
  <div style="width: 66px;">
    <img src="assets/images/bankLogo.png" alt="logo" style="margin-left: 15px; width: 140px; height:48px"
    >
  </div>
</nav>


<body
  style="
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
display: grid;
justify-content: center;
align-items: center;
margin: 0;"
>
<nz-result
  nzTitle="UnAuthorized Attempt"
  nzStatus="error"
  nzSubTitle="Please contact the administration."
>
<!--  <div nz-result-content>-->
<!--    <div class="desc">-->
<!--      <h4 nz-title>The content you submitted has the following error:</h4>-->
<!--      <p nz-paragraph>-->
<!--        <span nz-icon nzType="close-circle"></span>-->
<!--        Your account has been frozen-->
<!--        <a>Thaw immediately &gt;</a>-->
<!--      </p>-->
<!--      <p nz-paragraph>-->
<!--        <span nz-icon nzType="close-circle"></span>-->
<!--        Your account is not yet eligible to apply-->
<!--        <a>Apply immediately &gt;</a>-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div nz-result-extra>-->
<!--    <button nz-button nzType="primary">Go Console</button>-->
<!--    <button nz-button>Buy Again</button>-->
<!--  </div>-->
</nz-result>
</body>

