<div class="container">
  <div class="row" *ngIf="commonSetting.authorizedStatus == 2 || dataSource.length > 0; else noData">

    <div class="col-12 mb-4">
      <div class="text-end">
        <button
          nz-button nzType="primary"
          (click)="onOpenConfirmation()"
          class="add-auth-button"
        >
          Authorize
        </button>
      </div>
    </div>

    <div *ngIf="commonSetting.authorizedStatus == 2" [ngClass]="dataSource.length <= 0 ? 'col-12 ps-5 pe-5' : 'col-5'" >
      <app-common-setting-authorization [commonSetting]="commonSetting"></app-common-setting-authorization>
    </div>
    <div *ngIf="dataSource.length > 0" [ngClass]="commonSetting.authorizedStatus != 2 ? 'col-12 ps-5 pe-5' : 'col-7'" >
      <app-data-source-authorization [dataSource]="dataSource"></app-data-source-authorization>
    </div>

  </div>

</div>

<ng-template #noData>
  <div class="d-flex justify-content-center align-items-center" style="height: 500px">
<!--    <img ngSrc="assets/no-data-authorization.png" alt="no data for authorize" height="197" width="619">-->
    <nz-result nzStatus="info"
               nzTitle="No Data For Authorization"

    >
    </nz-result>
  </div>

</ng-template>
