<div class="container">
  <div>
    <div class="row">
      <div class="text-end">
        <button
          nz-button nzType="primary"
          [disabled]="isButtonDisabled"
          (click)="onOpenConfirmation()"
          class="add-auth-button"
        >
          Authorize
        </button>
      </div>
      <div class="col-12 mt-2 me-0 p-0">
        <nz-table
          [nzData]="(excludingCustomerRecord | async) ?? []"
          #tableData
          nzSize="small"
          nzOuterBordered
          class="table table-hover "
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
          <thead>
          <tr>
            <th
              [nzChecked]="checked"
              [nzIndeterminate]="indeterminate"
              (nzCheckedChange)="onAllChecked($event)"
              nzWidth="5%"
            >
            </th>
            <th class="text-center">No</th>
            <th class="text-center" nzWidth="15%">Excluding By</th>
            <th class="text-center" nzWidth="20%">Excluding Value</th>
            <th class="text-center" nzWidth="35%">Remark</th>
            <th class="text-center" nzWidth="10%">Status</th>
            <th class="text-center" nzWidth="25%">Authorize Status</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of tableData.data; let i = index;">
            <td
              [nzChecked]="setOfCheckedId.has(data.excludingCustomerTypeId)"
              (nzCheckedChange)="onItemChecked(data.excludingCustomerTypeId, $event)"
            >
            </td>
            <td class="text-center">{{i + 1}}</td>
            <td class="text-center">{{ data.excludingCustomerType == 1 ? 'Facility No' :
                data.excludingCustomerType == 2 ? 'Customer Ic' :
                  data.excludingCustomerType == 3 ? 'Customer Name' :
                    data.excludingCustomerType == 4 ? 'Customer No' : undefined}}</td>
            <td class="text-start">{{ data.excludingValue }}</td>
            <td class="text-start">{{ data.remark }}</td>
            <td class="text-center">
              <div [ngClass]="statusChip(data.status)" class="align-items-center text-center p-0 m-0 ">
                {{ data.status == 1 ? 'Active' : 'Inactive' }}
              </div>
            </td>
            <td class="text-center">
              <div [ngClass]="authorizeStatusChip(data.authorizedStatus)" class="align-items-center text-center p-0 m-0">
                {{ data.authorizedStatus == 1 ? 'Authorized' : data.authorizedStatus == 2 ? 'Pending' : 'Rejected' }}
              </div>
            </td>

          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>


