<div class="container">
  <div class="row">
    <div class="col-6 col-6">
      <div class="col mt-5">
        <div class="col mt-5 mb-5">
          <div class="card">
            <div class="card-header" >
              <h6>
                {{code}} Table Connection
              </h6>
            </div>
            <div class="card-body" style="height: 200px">
              <ngx-codemirror
                [(ngModel)]="tableConnection"
                [options]="options"
                (focusin)="onClearTableConnection()"
              ></ngx-codemirror>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header" >
              <h6>
                Filtering Condition
              </h6>
            </div>
            <div class="card-body" style="height: 200px">
              <ngx-codemirror
                [(ngModel)]="filterCondition"
                [options]="options"
                (focusin)="onClearFilteringCondition()"
              ></ngx-codemirror>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-6 mt-5 mb-5">
      <div class="cards">
        <div class="card">
          <div class="card-header" style="height: 45px">
            <div class="text-end">
              <button
                nz-button
                nzType="primary"
                (click)="onTestQuery()"
                style="border-radius: 5px"
              >
                Test & Save Query
              </button>
            </div>
          </div>
          <div class="card-body" style="height: 490px">
            <ngx-codemirror
              [(ngModel)]="tableConnection  + '\n' +  filterCondition"
              [options]="optionsReadOnly"

            ></ngx-codemirror>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
