<div class="container">
      <div class="row">
        <p class="heading-text">
          Select a Reporting Type.
        </p>
        <div>
          <nz-select [(ngModel)]="selectedReportingType"
                     (change)="onSelectReportingType($event)"
                     (ngModelChange)="onSelectReportingType($event)"
                     class="center-panel-searchBar"
          >
            <nz-option nzLabel="All" nzValue="All"></nz-option>
            <nz-option nzLabel="Consumer" nzValue="CN"></nz-option>
            <nz-option nzLabel="Commercial" nzValue="CM"></nz-option>
            <nz-option nzLabel="Consumer DC" nzValue="CNDC"></nz-option>
            <nz-option nzLabel="Commercial DC" nzValue="CMDC"></nz-option>
          </nz-select>
          <ng-template #renderTemplate>
          </ng-template>
        </div>

    <div *ngIf="selectedReportingType != null ">
      <div class="row">
        <div class="col-10 me-0 pe-0">
          <div class="text-start">
            <div class="input-group" style="width: 432px">
                <span class="input-group-text border-0" id="search-addon">
                 <i class="las la-search"></i>
                </span>
              <input nz-input type="search" class="form-control" placeholder="Search" aria-label="Search"
                     aria-describedby="search-addon" [(ngModel)]="filterValue"
                     (ngModelChange)="applyFilter()" style="height: 30px"/>
            </div>
          </div>
        </div>
        <div class="col-2 me-0 pe-0">
          <div class="text-end">
            <button
              [disabled]="selectedReportingType == 'All' "
              nz-button
              nzType="primary"
              (click)="openAddRecordDialog()"
              class="add-auth-button"
            >
              <i class="las la-plus-circle me-2"></i> Add New
            </button>
          </div>
        </div>

        <div class="col-sm-12 mt-2">
          <nz-table
            [nzData]="(filteredRecodes | async )?? []"
            #tableData
            nzSize="small"
            nzOuterBordered
            class="table-height">
            <thead>
            <tr>
              <th class="text-center" nzWidth="12%">Reporting Type</th>
              <th class="text-center" nzWidth="8%">Segment</th>
              <th class="text-center" nzWidth="33%">Description</th>
              <th class="text-center" nzWidth="12%">Execution Point</th>
              <th class="text-center" nzWidth="8%">Seq. No</th>
              <th nzRight class="text-center" nzWidth="8%">Status</th>
              <th nzRight class="text-center" nzWidth="12%">Authorize Status</th>
              <th nzRight class="text-center" nzWidth="7%">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of tableData.data">
              <td class="text-center">{{ data.reportingId == 'CN' ? 'CN'
                : data.reportingId == 'CM' ? 'CM'
                  : data.reportingId == 'CNDC' ? 'CNDC'
                    : 'CMDC'}}</td>
              <td class="text-center">{{ data.segmentName == 'Subject' ? 'CS'
                : data.segmentName == 'Dishonour of Cheques' ? 'DC'
                  : data.segmentName == 'Guarantor' ? 'GS'
                    : data.segmentName == 'Relationship' ? 'RS'
                      : data.segmentName == 'Suit Filed' ? 'SF'
                        : data.segmentName == 'Security' ? 'SS'
                          : data.segmentName == 'Credit Facility' ? 'CF'
                            : 'ES'}}</td>


              <td class="text-start">{{ data.description }}</td>
              <td
                class="text-center">{{data.ruleExecutionPoint == 1 ? 'ASD' : data.ruleExecutionPoint == 2 ? 'BMV' : 'AMV'}}</td>
              <td class="text-center">{{ data.sequence }}</td>

              <td class="text-center">
                <div [ngClass]="statusChip(data.status)" class="align-items-center text-center p-0 m-0 ">
                  {{ data.status == 1 ? 'Active' : 'Inactive' }}
                </div>
              </td>
              <td class="text-center">
                <div [ngClass]="authorizeStatusChip(data.authorizedStatus)" class="align-items-center text-center p-0 m-0">
                  {{ data.authorizedStatus == 1 ? 'Authorized' : data.authorizedStatus == 2 ? 'Pending' : 'Rejected' }}
                </div>
              </td>
              <td nzRight class="text-center">
                <button
                  [disabled]="selectedReportingType == 'All' "
                  nz-button
                  nzType="text"
                  (click)="openEditRecordDialog(data)">
                  <i class="las la-edit" style="color: #0050A0"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
