<mat-sidenav-container class="nav-container pt-3">
  <mat-sidenav #sidenav class="nav-sidenav pt-3" mode="side" opened="true">

    <div (click)="sidenav.toggle()" class="d-flex justify-content-between mb-2">
      <div class="d-flex align-items-center ms-2">
        <!--<div class="card rounded-4 p-2 border-primary">
&lt;!&ndash;          <em class="as la-warehouser" style="font-size: 25px"></em>&ndash;&gt;

        </div>-->
        <i class="las la-industry"  style="font-size: 40px"></i>
        <div>
          <div class="fs-5 ms-2 fw-semibold"> Warehouse</div>
          <small class="ms-2 text-secondary"> {{today | date}} </small>
        </div>

      </div>
      <div class="side-nav-btn-inside">
        <em class="las la-angle-left fw-bold text-white"></em>
      </div>
    </div>
    <div>
      <ul nz-menu nzMode="inline" style="width: 279px;">

        <div class="d-flex align-items-center mt-3">
          <h6 class="ms-2 layout-header-text"> Dashboard </h6>
        </div>

        <li
          nz-submenu
          [(nzOpen)]="openMap.sub1"
          (nzOpenChange)="openHandler('sub1')"
          nzTitle="System Settings"
          nzIcon="code-sandbox"
        >
          <ul>
            <ul>

              <li
                nz-menu-item
              >
                <a
                  [routerLink]="['under-construction']">
                </a>
                Stock Manager
              </li>
            </ul>
          </ul>
        </li>
        <!--------General--------->
        <div class="d-flex align-items-center mt-3">
          <h6 class="ms-2 layout-header-text"> General </h6>
        </div>



        <li
          nz-submenu
          [(nzOpen)]="openMap.sub2"
          (nzOpenChange)="openHandler('sub2')"
          nzTitle="Product"
          nzIcon="code-sandbox"
        >
          <ul>
            <ul>

              <li
                nz-menu-item
              >
                <a
                  [routerLink]="['warehouse-product-maintenance']">
                </a>
                Maintenance
              </li>
            </ul>
          </ul>
        </li>

        <li
          nz-submenu
          [(nzOpen)]="openMap.sub3"
          (nzOpenChange)="openHandler('sub3')"
          nzTitle="Stock"
          nzIcon="code-sandbox"
        >
          <ul>
            <ul>

              <li
                nz-menu-item
              >
                <a
                  [routerLink]="['warehouse-product-maintenance']">
                </a>
                Maintenance
              </li>
              <li
                nz-menu-item
              >
                <a
                  [routerLink]="['warehouse-product-maintenance']">
                </a>
               Release
              </li>
            </ul>
          </ul>
        </li>




      </ul>

    </div>
  </mat-sidenav>


  <div>
    <div (click)="sidenav.toggle()" *ngIf="true"
         aria-label="Toggle sidenav" class="toggle">
      <div *ngIf="!sidenav.opened" class="side-nav-btn">
        <em class="las la-angle-right fw-bold text-white"></em>
      </div>
    </div>

    <div [ngClass]="{'side-nav-open-margin': !sidenav.opened}">
      <div class="container mb-3">
        <div class="row">
          <nz-breadcrumb nzSeparator=":" style="font-size: 26px">
            <nz-breadcrumb-item>
              <i class="las la-home" style="font-size: 26px; font-weight: 600"></i>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs">
              <a [routerLink]="breadcrumb.url" class="layout-breadcrumb-item">  {{breadcrumb.label}} </a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
<!--<li
          nz-submenu
          [(nzOpen)]="openMap.sub1"
          (nzOpenChange)="openHandler('sub1')"
          nzTitle="Catalogue Code"
          nzIcon="code-sandbox"
        >
          <ul>
            <ul>

              <li
                nz-menu-item
                [appPermission]="['ADMIN_MODULE:CRIB_Catalogue_Maintenance']"
                [checkForPrefix]=false
              >
                <a
                  [routerLink]="['crib-catalogue-maintenance']">
                </a>
                Maintenance
              </li>
              <li
                nz-menu-item
                [appPermission]="['ADMIN_MODULE:CRIB_Catalogue_Authorization']">
                <a
                  [routerLink]="['crib-catalogue-authorization']">
                </a>
                Authorization
              </li>
            </ul>
          </ul>
        </li>-->
