<div class="container">
  <div class="text-end">
    <button
      nz-button
      nzType="primary"
      [disabled]="isButtonDisabled"
      (click)="onOpenConfirmation()"
      class="add-auth-button"
    >
      Authorize
    </button>
  </div>
  <nz-table
    [nzData]="(dataMapping | async) ?? []"
    #tableData
    nzSize="small"
    nzOuterBordered
    class="table table-hover"
    [nzPageSize]="30" [nzScroll]="{ y: '50vh' }"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"

  >
<!--    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"-->
    <thead>
    <tr>
      <th
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
        nzWidth="10%"
      >
      </th>
      <th class="text-start" nzWidth="20%">Connection ID</th>
      <th class="text-start" nzWidth="10%">Table Connection</th>
      <th class="text-start" nzWidth="10%">Filter Condition</th>
      <th class="text-center" nzWidth="20%">Authorize Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of tableData.data">
                <td
                  [nzChecked]="setOfCheckedId.has(data.dataSourceTableConnectionId)"
                  (nzCheckedChange)="onItemChecked(data.dataSourceTableConnectionId, $event)"
                >
                </td>

      <td > {{data.dataSourceTableConnectionId}}</td>
      <td class="text-center"><button nz-button nzType="text" (click)="onOpenTableConnection(data)">
        <i class="lar la-eye" style="color: #0050A0"></i>
      </button></td>
      <td class="text-center"><button nz-button nzType="text" (click)="onOpenFilteringCondition(data)">
        <i class="lar la-eye" style="color: #0050A0"></i>
      </button></td>
      <td class="text-center">
        <div [ngClass]="authorizeStatusChip(data.authorizedStatus)" class="align-items-center text-center p-0 m-0">
          {{ data.authorizedStatus == 1 ? 'Authorized' : data.authorizedStatus == 2 ? 'Pending' : 'Rejected' }}
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
