<div mat-dialog-title>
  <div class="m-0 d-flex justify-content-between align-items-center dialog-title">
    <p class="mb-0 mt-1 ps-2" style="font-family: sans-serif; font-weight: lighter"> Filter Condition </p>
    <div class="text-end">
      <button [mat-dialog-close]="true" mat-icon-button>
        <i class="las la-times"></i>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <hr>
  <div class="card-body" style="height: 100px">
    <ngx-codemirror
      [(ngModel)]="data.filterCondition"
      [options]="options"
    ></ngx-codemirror>
  </div>
</div>

